.branding {
  width: 180px;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  float: right;
}

header {
  padding-bottom: 35px;
}

.breadcrumbs {
  list-style: none;
  padding-top: 35px;
  padding-left: 0px;
  margin-left: -20px;
  margin-bottom: 0;
  width: 70%;
  float: left;
}

.breadcrumbs:before {
  content: "";
  display: block;
  height: 3px;
  background: #d1d1d1;
  position: relative;
  top: 6px;
  margin-right: 12.5%;
}

.breadcrumbs li {
  display: block;
  float: left;
  text-align: center;
  color: #d1d1d1;
  width: 25%;
  position: relative;
  padding-top: 15px;
}

.breadcrumbs li:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #d1d1d1;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -5px;
}

.breadcrumbs li.active {
  color: #0088ce;
}

.breadcrumbs li.active:before {
  background: #0088ce;
}

.product-container {
}

.product-name {
  color: #c00;
  text-transform: uppercase;
  font-weight: bold;
  font-size: x-large;
}

.product-version {
  padding-left: 5px;
}

.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  /*border: 1px solid black;*/
  background: white;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.check-element {
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.verticalLine {
  border-right: medium solid #888888;
  margin-right: 25px;
}

.checkbox-container {
  float: left;
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 10px;
}