/* Generic styles */
html {
  height: 100%;
}
header {
  margin-right: 40px;
}

.centered {
  text-align: center;
}

.greyed-out-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #7f7f7f;
  z-index: 6;
}

footer {
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 3;
  position: fixed;
  margin-left: -20px;
}

.nav-pills {
  font-weight: 700;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #c00;
  background-color: #f5f5f5;
  border-left: 2px solid red;
}

.no-background-color {
  background-color: transparent;
}

@media only all {

  .greyed-out-background {
    filter: alpha(opacity=0.5);
    opacity: .5;
  }

  .is-disabled {
    opacity: 0.05;
    pointer-events: none;
  }

  .remember-me-group {
    width: 240px;
  }

  .remember-me-label {
    padding: 5px;
  }

  .branding {
    width: 180px;
    position: absolute;
    top: 10px;
    right: 30px;
  }

  .branding-login {
    margin-top: 21px;
  }

  .login-title {
    margin-top: 60px;
    margin-left: 25px;
  }

  .branding-title {
    height:20px;
    padding-left: 24px;
  }

  .login-title-post-text {
    font-size: 18px;
    padding-left: 9px;
  }

  .breadcrumbs {
    list-style: none;
    padding-top: 35px;
    width: 80%;
  }

  .breadcrumbs:before {
    content: "";
    display: block;
    height: 3px;
    background: #d1d1d1;
    position: relative;
    top: 6px;
    margin-right: 12.5%;
    margin-left: 9.5%;
  }

  .breadcrumbs li {
    display: block;
    float: left;
    text-align: center;
    color: #d1d1d1;
    width: 15.84%;
    position: relative;
    padding-top: 15px;
    padding-left: 10px;
  }

  .version {
    position: relative;
    top: -57px;
    left: -173px;
  }

  .version-check {
    position: relative;
    top: 2px;
    left: -163px;
  }

  .breadcrumbs li:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: #d1d1d1;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 53%;
  }

  .breadcrumbs li.active {
    color: #0088ce;
  }

  .breadcrumbs li.active:before {
    background: #0088ce;
  }

  .welcome-section {
    width:100%;
    padding: 2% 5% 0% 5%;
    position: relative;
  }

  .welcome-subsection {
    width: 33%;
    float: left;
    padding: 12px;
    position: relative;
  }

  .welcome-static-name {
    color: #c00;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding: 5% 0% 5% 0%;
  }

  .welcome-static-img {
    display: block;
    margin: 0 auto;
  }

  .welcome-background {
    background-image: url(images/welcome-background.png);
    background-size: 100%;
  }

  .about-background {
    background-image: url(images/RCUE_About_BG.png);
    background-size: 100%;
  }

  .about-container {
    padding-left: 60px;
    color: #FFFFFF;
  }

  .about-heading {
    position: relative;
    top: 50px;
  }

  .version-panel {
    position: relative;
    top: 66px;
  }

  .tradmark-panel {
    position: relative;
    top: 110px;
  }

  .about-additional-info {
    position: relative;
    top: 88px;
  }

  .icon {
    position: relative;
    font-weight: normal;
    line-height: 1;
    color: #fafafa;
    top: -4px;
  }

  .link {
    color: #39a5dc;
    position: relative;
    text-decoration: none;
    top: -9px;
  }

  .link-release {
    color: #39a5dc;
    position: relative;
    text-decoration: none;
    top: -8px;
  }

  .link-report {
    color: #39a5dc;
    position: relative;
    text-decoration: none;
    top: -7px;
  }

  #accountForm {
    padding-right: 5%;
  }

  #accountForm div {
    margin-left: 0;
    margin-right: 0;
  }

  .login-form-input-container {
    float: right;
  }

  .login-form-error-container {
    float: left;
    margin-left: 118px;
  }

  .login-form-label {
    width: 73px;
    vertical-align: middle;
  }

  .login-form-input {
    display: inline-block;
    width: 220px;
  }

  .align-to-input {
    padding-left: 50px;
  }

  .form-buttons {
    width: 100%;
    text-align: right;
    margin-top: 10px;
  }

  .btn-spacer {
    margin-right: 10px;
  }

  #account-form-btn-text {
    vertical-align: super;
    margin-right: 13px;
  }

  /* .spinner {
    display: inline-block;
    opacity: 0;
    width: 0;

    -webkit-transition: opacity 0.25s, width 0.25s;
    -moz-transition: opacity 0.25s, width 0.25s;
    -o-transition: opacity 0.25s, width 0.25s;
    transition: opacity 0.25s, width 0.25s;
  } */

  .spinner.spinner-bgcolour {
    /* animation: rotation 600ms infinite linear;
    border-bottom: 4px solid rgba(3, 3, 3, 0.25);
    border-left: 4px solid rgba(3, 3, 3, 0.25);
    border-right: 4px solid rgba(3, 3, 3, 0.25);
    border-radius: 100%; */
    border-top: 4px solid #00a8e1;
    border-width: 5px;
    height: 29px;
    width: 29px;
    /* margin: 0 auto;
    position: relative; */
  }

  /* .spinner.spinner-lg {
    border-width: 15px;
    height: 120px;
    width: 120px;
  } */

  .has-spinner.active {
    cursor:progress;
  }

  .has-spinner.active .spinner {
    opacity: 1;
    /* width: auto;  /* This doesn't work, just fix for unknown width elements */
  }

  .forgot-password {
    margin-right: 0px;
    float: right;
  }

  .forgot-password-group {
    width: 300px;
    padding: 0 18px;
  }

  .last-field {
    margin-bottom: 5px;
  }

  .welcome-text {
    padding-right: 7%;
    margin-top: 12%;
    font-size: 15px
  }

  .product-container {
    width: 100%;
  }

  .product-name {
    color: #c00;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
  }

  .product-version {
    padding-left: 5px;
  }

  .image {
    float: right;
    position: relative;
    left: 15px;
   }

  .product-info {
    padding-left: 5px;
    color: #9c9c9c;
  }

  .btn-style-link {
    color: #00a8e1;
    background-color: #FFFFFF;
    display: inline-block;
    padding: 6px 10px;
    margin-bottom: 0;
    margin-right: 9px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3333333;
    width: 80px;
    cursor: pointer;
    touch-action: manipulation;
  }

  .pointer {
    cursor: pointer;
  }

  .btn-rightside {
    float: right;
  }

  .bottom-spacer {
    padding-top: 70px;
    padding-left: 20px;
  }

  .account-wrapper {
    padding-left : 50px;
    margin-top: 12%
  }

  .footer-version {
    position: absolute;
    bottom: 16px;
    left: 16px;
  }

  .footer-border{
    height: 100%;
    border-style: solid;
    background-color: #FFFFFF;
    border-width: 2px 0;
    border-color: lightgray;
    /*opacity: .8;*/
  }

  .footer-btns {
    position: absolute;
    bottom: 16px;
    width: 90px;
  }

  .cancel-btn {
    left: 40px;
  }

  .back-btn {
    right: 140px;
  }

  .back-btn-spacer-account {
    right: 200px;
  }

  .back-btn-spacer {
    right: 198px;
  }

  .go-btn {
    right: 40px;
  }

  .download-btn {
    width: 150px
  }

  #locationForm {
    padding: 100px 54px 0;
  }

  #location-form-container {
    padding-right: 11%;
  }

  #location-form-note {
    color: #c00;
  }

  #location-form-browse {
    margin-top: 30px;
  }

  .location-browse-label {
    margin-right: 10px;
  }

  .location-browse-input {
    width: 63%;
    margin-right: 2px;
    padding: 2px 5px 0 5px;
  }

  .location-browse-btn {
    margin-top: -3px;
  }

  .installation-note {
    margin-top: 20px;
    font-size: 14px;
  }

  .location-form-instructions {
    padding-right: 4%;
    font-size: 13px;
  }

  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
  }

  .detection-msg {
    position: fixed;
    margin-left: -200px;
    color: #000000;
  }

  .installation-note .med-spinner {
    width: 16px;
    height: 16px;
  }

  .installation-instruction {
    margin-left: 24px;
  }

  .zero-border {
    border-style: dashed;
    border-width: 2px
  }

  .panel2pxborder {
    border-width: 2px;
    margin-top: 14px;
    margin-bottom: 0px;
  }

  .panel-body {
    background-color: #fafafa;
  }

  .panel .panel-normal {
    display: flex;
    border-bottom: 0;
    border-color: #DDDDDD;
    background-color: #fafafa;
  }

  .panel .dotted-panel {
    background-color: #FFFFFF;
  }

  .vallign-middle {
    vertical-align:middle;
  }

  .installed-note {
    float: right;
    padding-top: 10px;
  }

  .warnings-in-panel {
    float: right;
  }

  .animate-show {
    line-height: 20px;
    opacity: 1;
    padding: 10px;
    padding-left: 90px;
    /*border: 1px solid black;*/
    background: white;
  }

  .animate-show.ng-hide-add, .animate-show.ng-hide-remove {
    transition: all linear 0.5s;
  }

  .animate-show.ng-hide {
    line-height: 0;
    opacity: 0;
    padding: 0 10px;
  }

  .confirm-browse-label {
    margin-right: 10px;
  }

  .confirm-browse-input {
    width: 60%;
    margin-right: -4px;
  }

  .confirm-browse-btn {
    margin-top: -2px;
  }

  .close-modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
  }

  .check-element {
    padding: 10px;
    border: 1px solid black;
    background: white;
  }

  .verticalLine {
    border-right: 2px solid #dddddd;
    margin-right: 3%;
  }

  .checkbox-container {
    float: left;
    padding: 8px 10px 0 0;
  }

  .message-container {
    padding: 0px 10px 0px 10px;
  }

  .warning-message {
    color: #EF9235;
  }

  .error-message {

    color: red;
  }

  .overflow-parent {
    overflow: hidden;
  }

  .container:after {
    content: "";
    display: block;
    clear: both;
  }

  .middle-high-pos {
    width: 100%;
    display: inline-block;
    padding-top: 10%;
  }

  .text-padding {
    padding-top: 1%;
  }

  #startForm {
    padding-top: 5%;
  }

  #start-submit {
    font-size: 24px;
    padding: 6px 10px;
    border-radius: 1px;
  }

  #exit-btn {
    margin-top: 1%;
  }

  .progress-description {
    max-width: 100%;
  }

  .progress-status {
    display: inline-block;
    padding-bottom: 5px;
  }

  .fix-breadcrumb {
    border: 1px solid white;
    background: white;
    position: fixed;
    z-index: 2;
    width: 100%;
    padding-bottom: 27px;
  }

  .size-footer {
    position: absolute;
    bottom: 20px;
    padding-right: 150px;
    right: 150px;
    color: #9c9c9c;
  }

  .selection-container {
    padding-top: 33px;
    position: fixed;
    width: 96%;
  }

  .selection-info {
    padding: 4px;
  }

  .info-color {
    color: #0088ce;
  }

  .form-padding {
    padding-top: 105px;
  }

  .summary-info {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fafafa;
  }

  .size-summary {
    line-height: 1;
    padding: 8px;
    color: #8e8e8e;
    margin-right: 10px;
    border-left: 3px solid #0088ce;
  }

  .confirm-heading {
    position: fixed;
    width: 83%;
    background: #fff;
    border-bottom: 4px solid #cde7f8;
    margin: 0 -15px 0;
    padding: 20px 5px 5px;
    border-top: 2px solid #fafafa;
  }

  .confirm-heading-title {
    font-size: 16px;
    font-weight: 700;
  }

  .inline {
    display: inline-block;
  }

  .confirm-summary-list {
    padding: 60px 0;
    margin-top: 60px;
  }

  .confirm-summary-note {
    padding: 10px 0 10px 0;
    color: #0088ce;
  }

  .install-desc {
    display: block;
    padding-top: 12px;
  }

  .size-note {
    color: #a2a2a2
  }

  .label-note {
    padding: 10px 10px;
    border-radius: 2px;
    background-color: #58b1df;
  }

  .confirm-note-color {
    color: #3aa3d9
  }

  .confirm-layout {
    background: #fff;
    border-top: 2px solid transparent;
    padding: 0 10px;
    margin: 8px 50px 0 50px;
  }

  .confirm-card-margin {
    margin-left: 50px;
    margin-right: 50px;
  }

  .progress {
    height: 5px;
    display: block;
    width: 100%;
    background-color: #acece6;
    border-radius: 2px;
    background-clip: padding-box;
    margin: 0.5rem 0 1rem 0;
  }

  .progress-determinate {
    /* width: 100%; */
    animation: progress-bar-stripes 2s infinite steps(15);
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;
    background-color: #39a5dc;
    transition: width .3s linear;
  }

  .install-info {
    background-color: #e9f4e9;
    color: #363636;
  }

  .install-header {
    padding: 1em 1.5em;
    margin-top: 38px;
    font-size: 14px;
  }

  .install-header-spinner {
    margin-right: 10px;
    color: #51aedd;
  }

  .progress-bar {
    border-radius: 5px;
  }

  .install-fail-icon {
    color: orange;
  }

  .switch-info {
    padding: 8px;
  }

  .component-note {
    padding-left: 25px;
    padding-bottom: 10px;
  }

  .btn-action {
    letter-spacing: .5px;
    font-size: 1rem;
    outline: 0;
    border-radius: 2px;
    line-height: 20px;
    padding: 0 10px 2px;
    text-transform: uppercase;
    margin: -3px 10px 0 0;
    float: right;
  }

  .panel-group-items .panel:not(.zero-border):hover {
    border-left: 2px solid #c00;
  }

  .column-divider {
    border-left: 2px solid #dddddd;
    height: 260px;
  }

  .about-note-mac {
    position: relative;
    top: 145px;
    color: white;
    display: block;
    font-size: 9px;
  }

  .detected-container {
    background: #dddddd;
    padding: 1px 20px;
  }

  .channels-container {
    margin: 5px auto;
  }

  .channels-nav {
    margin-top: 20px
  }

  .channels-content {
    overflow:auto;
    height:415px;
  }

  .selection-form-padding {
    padding-right: 20px;
    padding-top: 15px;
  }

  .channel-vtab-nav {
    display: flex;
  }

  .channel-vtab-nav-col {
    background-color: #fafafa;
    width: 25%;
    margin-top: -10px;
  }

  .channel-vtab-nav-tabs {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .channel-vtab-nav-tab {
    position: relative;
    display: flex;
    flex-shrink: 1;
    margin: 10px 0;
  }

  .channel-vtab-nav-tab.active {
    background: #A3DBE8;
    border-left: 5px solid #004153;
  }

  .channel-vtab-nav-tab.active > a {
    cursor: default;
    color: #fff;
    text-decoration: none;
  }

  .channel-vtab-nav-link {
    color: #363636;
    flex-grow: 1;
    font-weight: 700;
    font-size: 13px;
    line-height: 2.1;
    padding: 5px 0 5px 25px;
  }

  .channel-vtab-nav-link:hover, .channel-vtab-nav-link:focus {
    text-decoration: none;
    background-color: #A3DBE8;
    color: #fff;
  }

  .selection-panel-heading {
    padding: 11px;
    background-color: whitesmoke;
    border-left: 5px solid #004153;
    margin-left: 10px;
    margin-right: -10px;
  }

  .selection-panel-body {
    overflow: auto;
    height: 398px;
    padding: 0 5px 10px 10px;
    margin-left: 0;
    margin-right: -10px;
  }

  .component-installed-note {
    border: 1px solid lightgray;
    background-color: #f5f5f5;
    padding: 10px 30px 13px;
  }

  .badge-installed-status {
    float: right;
    margin: 2px;
    background-color: #fafafa;
    text-transform: uppercase;
    font-size: 9px;
    color: #3f3f3f;
  }

  .channel-info  {
    padding: 10px 0 10px 0;
    background-color: #f5f5f5;
    margin: 0 -10px 10px 10px;
  }

  .no-top-margin {
    margin-top: 0;
  }

  .channel-desc {
    font-size: 12px;
    font-weight: 600;
  }

  .channel-info .status {
    padding-left: 5px;
    font-weight: 600;
    padding-right: 10px;
    border-right: 2px solid #dddddd;
    font-size: 12px;
  }
}
