/* Generic styles */
.centered {
  text-align: center;
}

.double-spaced {
  line-height: 2em; /* 32px / 16px */
}

.greyed-out-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #7f7f7f;
  z-index: 6;
}

footer {
  bottom: 0;
  height: 1.875em; /* 30px / 16px */
  width: 100%;
  background-color: #FFFFFF;
  z-index: 3;
  position: fixed;
}



@media only all {

  .greyed-out-background {
    filter: alpha(opacity=0.5);
    opacity: .5;
  }

  .is-disabled {
    opacity: .5;
    pointer-events: none;
  }

  .arrow {
    display:inline-block;
    width:12px;
    height:12px;
    line-height:7px;
    border-top:2px solid #aaa;
    border-right:2px solid #aaa;
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
  }

  .arrow-down {
    -ms-transform:rotate(135deg);
    -moz-transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
    transform:rotate(135deg);
  }
  .arrow-left {
    -ms-transform:rotate(225deg);
    -moz-transform:rotate(225deg);
    -webkit-transform:rotate(225deg);
    transform:rotate(225deg);
  }
  .arrow-up{
    -ms-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
  }
  .arrow:hover {
    border-color:#444;
  }

  header {
  }

    .login-header {
      padding-top: 35px;
      padding-bottom: 35px;
    }

    .branding {
      width: 180px;
      height: auto;
      padding-top: 20px;
      padding-bottom: 20px;
      float: right;
    }

    .branding-logo {
      width: 180px;
      height: auto;
      /*padding-bottom: 25px;*/
    }

    .branding-name {
      color: #c00;
      text-transform: uppercase;
      font-weight: bold;
      font-size: x-large;
    }

    .breadcrumbs {
      list-style: none;
      padding-top: 35px;
      padding-left: 0;
      margin-left: -20px;
      margin-bottom: 0;
      width: 70%;
      float: left;
    }

      .breadcrumbs:before {
        content: "";
        display: block;
        height: 3px;
        background: #d1d1d1;
        position: relative;
        top: 6px;
        margin-right: 12.5%;
      }

      .breadcrumbs li {
        display: block;
        float: left;
        text-align: center;
        color: #d1d1d1;
        width: 25%;
        position: relative;
        padding-top: 15px;
      }

        .breadcrumbs li:before {
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          background: #d1d1d1;
          border-radius: 50%;
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -5px;
        }

        .breadcrumbs li.active {
          color: #0088ce;
        }

        .breadcrumbs li.active:before {
          background: #0088ce;
        }

  .product-container {
  }

  .product-name {
    color: #c00;
    text-transform: uppercase;
    font-weight: bold;
    font-size: x-large;
  }

  .product-version {
    padding-left: 5px;
  }

  .btn-style-link {
    color: #00a8e1;
    background-color: #FFFFFF;
    display: inline-block;
    padding: 6px 10px;
    margin-bottom: 0;
    margin-right: 9px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3333333;
    width: 80px;
    cursor: pointer;
    touch-action: manipulation;
  }

  #loginButton {
    margin-bottom: 3px;
  }

  .btn-rightside {
    float: right;
  }

  .dimmed {
    position: relative;
  }

  .dimmed:after {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  #locationForm {
    margin-top: 8%;
  }

    #location-form-container {
      padding-right: 25%;
    }

      .location-form-elements {
        margin-bottom: 10px;
      }

        #location-form-instructions {

        }

        #location-form-note {
          color: grey;
        }

        #location-form-browse {
          margin-top: 25px;
        }

          .location-browse-container {

          }

            .location-browse-label {
              margin-right: 10px;
            }

            #location-browse-input-folder {

            }

            .location-browse-input {
              width: 60%;
              margin-right: -4px;
            }

            .location-browse-btn {
              margin-top: -2px;
            }

       #location-form-btns {

      }

  #installation-note {
    margin-bottom: 15px;
    font-size: 16px;
  }

    #installation-note .med-spinner {
      width: 16px;
      height: 16px;
    }

    #installation-instruction {
      margin-left: 24px;
    }

  #confirmForm {
  }

    .animate-show {
      line-height: 20px;
      opacity: 1;
      padding: 10px;
      padding-left: 90px;
      /*border: 1px solid black;*/
      background: white;
    }

    .animate-show.ng-hide-add, .animate-show.ng-hide-remove {
      transition: all linear 0.5s;
    }

    .animate-show.ng-hide {
      line-height: 0;
      opacity: 0;
      padding: 0 10px;
    }

      .confirm-radio-container {

      }

        .confirm-radio-btn {
          display: inline;
          width: 25px;
        }

        .confirm-radio-btn-label {
          width: 80%;
          vertical-align: text-top;
          margin-top: -5px;
        }

          .confirm-browse-container {

          }
            .confirm-browse-label {
              margin-right: 10px;
            }

            .confirm-browse-input {
              width: 60%;
              margin-right: -4px;
            }

            .confirm-browse-btn {
              margin-top: -2px;
            }

  .check-element {
    padding: 10px;
    border: 1px solid black;
    background: white;
  }

  .verticalLine {
    border-right: thin solid #888888;
    margin-right: 6%;
  }

  .checkbox-container {
    float: left;
    padding: 15px 25px 15px 10px;
  }

  #login-section {
    float: left;
    width: 50%;
  }

    #accountForm {
      padding-right: 20%;
    }

      #accountForm div {
        margin-left: 0;
        margin-right: 0;
      }

        .login-form-input-container {
          float: right;
        }

        .login-form-label {
          width: 80px;
          vertical-align: middle;
        }

        .login-form-input {
          display: inline;
          width: 250px;
        }

        .align-to-input {
          padding-left: 83px;
        }

        .form-buttons {
          width: 100%;
          text-align: right;
          margin-top: 10px;
        }

          .btn-plain {
            color: #00a8e1;
            background-color: #FFFFFF;
            border-color: #00a8e1;
          }

          .btn-spacer {
            margin-right: 10px;
          }

          .btn-med-size {
            width: 90px;
          }

          #account-form-btn-text {
            vertical-align: super;
            margin-right: 13px;
          }

          .spinner {
            display: inline-block;
            opacity: 0;
            width: 0;

            -webkit-transition: opacity 0.25s, width 0.25s;
            -moz-transition: opacity 0.25s, width 0.25s;
            -o-transition: opacity 0.25s, width 0.25s;
            transition: opacity 0.25s, width 0.25s;
          }

          .has-spinner.active {
            cursor:progress;
          }

          .has-spinner.active .spinner {
            opacity: 1;
            /* width: auto;  /* This doesn't work, just fix for unknown width elements */
          }

          .has-spinner.btn.active .spinner {
            width: 24px;
          }

  #welcome-text {
    padding-right: 2.5%;
  }

  .overflow-parent {
    overflow: hidden;
  }

  .container:after {
    content: "";
    display: block;
    clear: both;
  }

  .middle-high-pos {
    width: 100%;
    display: inline-block;
    padding-top: 10%;
  }

    .text-padding {
      padding-top: 1%;
    }

  #startForm {
    padding-top: 5%;
  }

    #start-submit {
      width: 450px;
      font-size: 24px;
      padding: 6px 10px;
      border-radius: 1px;
    }

    #exit-btn {
      margin-top: 1%;
    }

  .progress-description {
    margin-bottom: 10px;
    max-width: 100%;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    white-space: nowrap;
  }

}
