/* Generic styles */
html {
  height: 100%;
}
header {
  margin-right: calc(-1 * (100vw - 100% - 40px));
}

.centered {
  text-align: center;
}

.double-spaced {
  line-height: 2em; /* 32px / 16px */
}

.greyed-out-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #7f7f7f;
  z-index: 6;
}

footer {
  bottom: 0;
  height: 66px;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 3;
  position: fixed;
  margin-left: -19px;
}

.no-background-color {
  background-color: transparent;
}


@media only all {

  .greyed-out-background {
    filter: alpha(opacity=0.5);
    opacity: .5;
  }

  .is-disabled {
    opacity: 0.05;
    pointer-events: none;
  }

  .arrow {
    display:inline-block;
    width:12px;
    height:12px;
    line-height:7px;
    border-top:2px solid #aaa;
    border-right:2px solid #aaa;
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
  }

  .arrow-down {
    -ms-transform:rotate(135deg);
    -moz-transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
    transform:rotate(135deg);
  }
  .arrow-left {
    -ms-transform:rotate(225deg);
    -moz-transform:rotate(225deg);
    -webkit-transform:rotate(225deg);
    transform:rotate(225deg);
  }
  .arrow-up{
    -ms-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
  }
  .arrow:hover {
    border-color:#444;
  }

  .login-header {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .remember-me {
    float: left;
  }

  .remember-me-group {
    width: 220px;
  }

  .remember-me-label {
  }

  .branding {
    width: 180px;
    position: absolute;
    top: 10px;
    right: 30px;
    margin-right: calc(-1 * (100vw - 100%));
  }

  .branding-login {
    margin-top: 21px;
  }

  .login-title {
    margin-top: 60px;
    margin-left: 25px;
  }

  .branding-title {
    height:20px;
    padding-left: 24px;
  }

  .login-title-post-text {
    font-size: 18px;
    padding-left: 9px;
  }

  .branding-name {
    color: #c00;
    text-transform: uppercase;
    font-weight: bold;
    font-size: x-large;
  }

  .breadcrumbs {
    list-style: none;
    padding-top: 35px;
    width: 80%;
  }

  .breadcrumbs:before {
    content: "";
    display: block;
    height: 3px;
    background: #d1d1d1;
    position: relative;
    top: 6px;
    margin-right: 12.5%;
    margin-left: 9.5%;
  }

  .breadcrumbs li {
    display: block;
    float: left;
    text-align: center;
    color: #d1d1d1;
    width: 15.84%;
    position: relative;
    padding-top: 15px;
  }

  .breadcrumbs li:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: #d1d1d1;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 53%;
  }

  .breadcrumbs li.active {
    color: #0088ce;
  }

  .breadcrumbs li.active:before {
    background: #0088ce;
  }

  .about-section {
    width:100%;
    padding: 2% 5% 0% 5%;
    position: relative;
  }

  .about-subsection {
    width: 33%;
    float: left;
    padding: 12px;
    position: relative;
  }

  .about-name {
    color: #c00;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding: 5% 0% 5% 0%;
  }

  .about-img {
    display: block;
    margin: 0 auto;
  }

  .about-background {
    background-image: url(images/about-background.svg);
    background-size: 100%;
  }

  .aboutpage-background {
    background-image: url(images/RCUE_About_BG.png);
    background-size: 100%;
  }

  .about-heading {
    position: relative;
    color: #FFFFFF;
    padding-left: 60px;
    top: 50px;
  }

  .icon {
    position: relative;
    font-weight: normal;
    line-height: 1;
    color: #fafafa;
    top: -4px;
  }

  .link {
    color: #39a5dc;
    position: relative;
    text-decoration: none;
    top: -9px;
  }

  .link-release {
    color: #39a5dc;
    position: relative;
    text-decoration: none;
    top: -8px;
  }

  .link-report {
    color: #39a5dc;
    position: relative;
    text-decoration: none;
    top: -7px;
  }

  #login-section {
    float: left;
    width: 50%;
    margin-top: 12%;
  }

  #accountForm {
    padding-right: 15%;
  }

  #accountForm div {
    margin-left: 0;
    margin-right: 0;
  }

  .login-form-input-container {
    float: right;
  }

  .login-form-error-container {
    float: left;
    width: 296px;
    margin-left: 116px;
  }

  .login-form-label {
    width: 73px;
    vertical-align: middle;
  }

  .login-form-input {
    display: inline;
    width: 220px;
  }

  .align-to-input {
    padding-left: 50px;
  }

  .form-buttons {
    width: 100%;
    text-align: right;
    margin-top: 10px;
  }

  .btn-plain {
    color: #00a8e1;
    background-color: #FFFFFF;
    border-color: #00a8e1;
  }

  .btn-spacer {
    margin-right: 10px;
  }

  .btn-med-size {
    width: 90px;
  }

  #account-form-btn-text {
    vertical-align: super;
    margin-right: 13px;
  }

  /* .spinner {
    display: inline-block;
    opacity: 0;
    width: 0;

    -webkit-transition: opacity 0.25s, width 0.25s;
    -moz-transition: opacity 0.25s, width 0.25s;
    -o-transition: opacity 0.25s, width 0.25s;
    transition: opacity 0.25s, width 0.25s;
  } */

  .spinner.spinner-bgcolour {
    /* animation: rotation 600ms infinite linear;
    border-bottom: 4px solid rgba(3, 3, 3, 0.25);
    border-left: 4px solid rgba(3, 3, 3, 0.25);
    border-right: 4px solid rgba(3, 3, 3, 0.25);
    border-radius: 100%; */
    border-top: 4px solid #00a8e1;
    /* margin: 0 auto;
    position: relative; */
  }

  /* .spinner.spinner-lg {
    border-width: 15px;
    height: 120px;
    width: 120px;
  } */

  .has-spinner.active {
    cursor:progress;
  }

  .has-spinner.active .spinner {
    opacity: 1;
    /* width: auto;  /* This doesn't work, just fix for unknown width elements */
  }

  .forgot-password {
    margin-right: 0px;
    float: right;
  }

  .forgot-password-group {
    width: 300px;
  }

  .last-field {
    margin-bottom: 5px;
  }

  #welcome-text {
    padding-right: 7%;
    margin-top: 12%;
  }

  #welcome-text > p {
    line-height: 16px;
    margin-bottom: 16px;
  }

  .product-container {
    padding-left: 10px;
    width: 100%;
  }

  .product-name {
    color: #c00;
    text-transform: uppercase;
    font-weight: bold;
    font-size: x-large;
  }

  .product-version {
    padding-left: 5px;
  }

  .image {
    float: right;
    position: relative;
    left: 15px;
   }

  .version-panel {
    position: relative;
    color: #FFFFFF;
    padding-left: 60px;
    top: 66px;
  }

  .tradmark-panel {
    position: relative;
    color: #FFFFFF;
    padding-left: 60px;
    top: 110px;
  }

  .welcome-panel {
    position: relative;
    color: #FFFFFF;
    top: 88px;
    padding-left: 60px;
  }

  .product-info {
    padding-left: 5px;
    color: #9c9c9c;
  }

  .btn-style-link {
    color: #00a8e1;
    background-color: #FFFFFF;
    display: inline-block;
    padding: 6px 10px;
    margin-bottom: 0;
    margin-right: 9px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3333333;
    width: 80px;
    cursor: pointer;
    touch-action: manipulation;
  }

  .pointer {
    cursor: pointer;
  }

  .btn-rightside {
    float: right;
  }

  .dimmed {
    position: relative;
  }

  .dimmed:after {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .bottom-spacer {
    padding-top: 70px;
    padding-bottom: 80px;
  }

  .footer-version {
    position: absolute;
    bottom: 16px;
    left: 16px;
  }

  .footer-border{
    height: 100%;
    border-style: solid;
    background-color: #FFFFFF;
    border-width: 2px 0;
    border-color: lightgray;
    /*opacity: .8;*/
  }

  .footer-btns {
    position: absolute;
    bottom: 16px;
  }

  .cancel-btn {
    left: 40px;
  }

  .back-btn {
    right: 140px;
    margin-right: calc(-1 * (100vw - 100%));
  }

  .back-btn-spacer-account {
    right: 200px;
  }

  .back-btn-spacer {
    right: 198px;
  }

  .go-btn {
    right: 40px;
    margin-right: calc(-1 * (100vw - 100%));
  }

  #locationForm {
    margin-top: 8%;
  }

  #location-form-container {
    padding-right: 25%;
  }

  .location-form-elements {
    margin-bottom: 10px;
  }

  #location-form-note {
    color: grey;
  }

  #location-form-browse {
    margin-top: 25px;
  }

  .location-browse-label {
    margin-right: 10px;
  }

  .location-browse-input {
    width: 60%;
    margin-right: 0px;
  }

  .location-browse-btn {
    margin-top: -3px;
  }

  .installation-note {
    margin-top: 20px;
    font-size: 14px;
  }

  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
  }

  .detection-msg {
    position: fixed;
    /* top: 50%;
    left: 50%;
    margin-top: 70px; */
    margin-left: -200px;
    color: #000000;
  }

  .installation-note .med-spinner {
    width: 16px;
    height: 16px;
  }

  .installation-instruction {
    margin-left: 24px;
  }

  .zero-border {
    border-style: dashed;
    border-width: 2px
  }

  .panel2pxborder {
    border-width: 2px
  }

  .panel-default {
    margin-bottom: 5px;
    margin-top: 20px;
  }

  .panel .panel-normal {
    display: flex;
    border-bottom: 0;
    border-color: #DDDDDD;
  }

  .panel .dotted-panel {
    background-color: #FFFFFF;
  }

  .vallign-middle {
    vertical-align:middle;
  }

  .confirm-radio-container.dotted-panel {
    border-style:dashed;
    background-color: #FFFFFF;
    border-width: 2px;
    border-color: #dddddd;
    border-top: 0;
  }

  .installed-note {
    float: right;
    padding-top: 10px;
  }

  .warnings-in-panel {
    float: right;
  }

  .animate-show {
    line-height: 20px;
    opacity: 1;
    padding: 10px;
    padding-left: 90px;
    /*border: 1px solid black;*/
    background: white;
  }

  .animate-show.ng-hide-add, .animate-show.ng-hide-remove {
    transition: all linear 0.5s;
  }

  .animate-show.ng-hide {
    line-height: 0;
    opacity: 0;
    padding: 0 10px;
  }

  .confirm-radio-btn {
    display: inline;
  }

  .confirm-radio-btn-label {
    width: 80%;
    vertical-align: text-top;
    margin-top: -5px;
  }

  .confirm-browse-label {
    margin-right: 10px;
  }

  .confirm-browse-input {
    width: 60%;
    margin-right: -4px;
  }

  .confirm-browse-btn {
    margin-top: -2px;
  }

  .close-modal{
    /* display: none; */
    /* overflow: hidden; */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
  }

  .close-modal-footer {
    border-top: none;
    padding: 14px 15px 15px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
  }

  .check-element {
    padding: 10px;
    border: 1px solid black;
    background: white;
  }

  .verticalLine {
    border-right: 2px solid #dddddd;
    margin-right: 6%;
  }

  .checkbox-container {
    float: left;
    padding: 15px 25px 15px 10px;
  }

  .message-container {
    padding: 0px 10px 0px 10px;
  }

  .warning-message {
    color: #EF9235;
  }

  .error-message {
    color: red;
  }

  .overflow-parent {
    overflow: hidden;
  }

  .container:after {
    content: "";
    display: block;
    clear: both;
  }

  .middle-high-pos {
    width: 100%;
    display: inline-block;
    padding-top: 10%;
  }

  .text-padding {
    padding-top: 1%;
  }

  #startForm {
    padding-top: 5%;
  }

  #start-submit {
    font-size: 24px;
    padding: 6px 10px;
    border-radius: 1px;
  }

  #exit-btn {
    margin-top: 1%;
  }

  .progress-description {
    margin-bottom: 10px;
    max-width: 100%;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    white-space: nowrap;
  }

  .progress-status {
    display: inline-block;
    padding-bottom: 5px;
  }

  .fix-breadcrumb {
    border: 1px solid white;
    background: white;
    position: fixed;
    z-index: 2;
    width: 100%;
    padding-bottom: 27px;
  }

  .size-footer {
    position: absolute;
    bottom: 20px;
    padding-right: 150px;
    right: 150px;
    color: #9c9c9c;
  }

  .selection-desc {
    padding-top: 30px;
    position: fixed;
    width: 100%;
    padding-bottom: 16px;
    background: #fff;
  }

  .info-color {
    color: #0088ce;
  }

  .form-padding {
    padding-top: 49px;
  }

  .summary-info {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fafafa;
  }

  .size-summary {
    line-height: 1;
    padding: 8px;
    color: #8e8e8e;
    margin: 5px 5px 0;
    border-left: 3px solid #0088ce;
  }

  .confirm-heading {
    position: fixed;
    width: 794px;
    background: #fff;
    border-bottom: 2px solid #d1d1d1;
    margin: 0 -15px 20px;
    padding: 10px 5px 5px;
    border-top: 2px solid #fafafa;
  }

  .inline {
    display: inline-block;
  }

  .confirm-margin {
    margin: 120px 0 0;
  }

  .install-desc {
    display: block;
    padding-top: 12px;
  }

  .size-note {
    color: #a2a2a2
  }

  .label-note {
    padding: 10px 10px;
    border-radius: 2px;
    background-color: #58b1df;
  }

  .confirm-note-color {
    color: #3aa3d9
  }

  .confirm-layout {
    background: #fff;
    border-top: 2px solid transparent;
    padding: 0 10px;
    margin-top: 10px;
  }

  .confirm-card-margin {
    margin-left: 50px;
    margin-right: 50px;
  }
}
