windows/Output/
dist/
windows/idp_source/.vs/InnoDownloadPlugin/v14/.suo
windows/idp_source/InnoDownloadPlugin.sdf
windows/idp_source/InnoDownloadPlugin.workspace
windows/idp_source/idp/Debug
windows/idp_source/idp/Release/
windows/idp_source/idp/Release ANSI/
windows/idp_source/InnoDownloadPlugin.opensdf
windows/idp_source/unicode/idp.lib
windows/idp_source/unicode/idp.ipdb
windows/idp_source/unicode/idp.iobj
windows/idp_source/unicode/idp.pdb
windows/idp_source/unicode/idp.exp
windows/idp_source/ansi/idp.exp
windows/idp_source/ansi/idp.iobj
windows/idp_source/ansi/idp.ipdb
windows/idp_source/ansi/idp.lib
windows/idp_source/ansi/idp.pdb
