<header>
  <breadcrumb></breadcrumb>
</header>

<main>
  <div class="col-sm-12 bottom-spacer">
    <div class="install-header">
      <div style="font-weight: 700;font-size: large;">Downloading and Installing</div>
      <p style="color: grey;">Currently gathering content</p>
    </div>
    <div class="alert install-info" ng-show="instCtrl.isDarwinPlatform()">
      <span class="pficon pficon-info"></span>
      <strong>MacOS may ask for your administrative password several times during installation.</strong>
    </div>
    <div class="panel-default">
      <div class="panel-body">
        <div ng-repeat="progress in data">
          <progress-bar progress="progress"></progress-bar>
          <div class="btn btn-danger btn-action" ng-click="instCtrl.showLog()" ng-show="progress.status.indexOf('Failed') > -1" data-toggle="tooltip" data-placement="bottom" title="Displays the log details." style="margin-top: -10px;">Details</div>
        </div>
      </div>
    </div>
  </div>
</main>

<div class="greyed-out-background" ng-show="instCtrl.failedDownloads.size > 0"></div>
<div class="close-modal" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" ng-show="instCtrl.failedDownloads.size > 0">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <span class="pficon pficon-close" ng-click="instCtrl.closeDownloadAgainDialog()"></span>
        </button>
        <h4 class="modal-title" id="myModalLabel">&nbsp;</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger">
          <span id="tcIcon" class="pficon pficon-error-circle-o"></span>
          <strong id="tcMessage">Hey there is a problem! Something went wrong.</strong>
        </div>
        <div>The download failed. Please check if you have internet access,
          connected to VPN, or have correct configuration for proxy server.
          Try to download again after the problem is fixed.</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="instCtrl.downloadAgain()">Download Again</button>
      </div>
    </div>
  </div>
</div>

<footer class="no-background-color">
  <div class="footer-border"></div>
  <button type="button" id="location-cancel-btn" class="go-btn footer-btns btn btn-primary btn-lg btn-med-size" form="installForm"
          ng-click="instCtrl.exit()">Cancel</button>
</footer>
