<header>
  <breadcrumb></breadcrumb>
  <img class="branding" src="images/logo_RHD_RGB_default.svg"/>
</header>

<main class="col-sm-12">
  <div class="col-sm-12">
    <h3>Installation Details{{checkboxModel.jdk.selected}}</h3>
    <div>
      <progress-bar ng-show="instCtrl.show('virtualbox')" name="virtualbox" product_name="instCtrl.productName('virtualbox')" product_version="instCtrl.productVersion('virtualbox')" current="instCtrl.current('virtualbox')" min="0" max="100" label="instCtrl.label('virtualbox')" product_desc="instCtrl.productDesc('virtualbox')" status="instCtrl.status('virtualbox')">
      </progress-bar>
    </div>
    <div>
      <progress-bar ng-show="instCtrl.show('cygwin')" name="cygwin" product_name="instCtrl.productName('cygwin')" product_version="instCtrl.productVersion('cygwin')" current="instCtrl.current('cygwin')" min="0" max="100" label="instCtrl.label('cygwin')" product_desc="instCtrl.productDesc('cygwin')" status="instCtrl.status('cygwin')">
      </progress-bar>
    </div>
    <div>
      <progress-bar ng-show="instCtrl.show('vagrant')" name="vagrant" product_name="instCtrl.productName('vagrant')" product_version="instCtrl.productVersion('vagrant')" current="instCtrl.current('vagrant')" min="0" max="100" label="instCtrl.label('vagrant')" product_desc="instCtrl.productDesc('vagrant')" status="instCtrl.status('vagrant')">
      </progress-bar>
    </div>
    <div>
      <progress-bar ng-show="instCtrl.show('cdk')" name="cdk" product_name="instCtrl.productName('cdk')" product_version="instCtrl.productVersion('cdk')" current="instCtrl.current('cdk')" min="0" max="100" label="instCtrl.label('cdk')" product_desc="instCtrl.productDesc('cdk')" status="instCtrl.status('cdk')">
      </progress-bar>
    </div>
    <div>
      <progress-bar ng-show="instCtrl.show('jdk')" name="jdk" product_name="instCtrl.productName('jdk')" product_version="instCtrl.productVersion('jdk')" current="instCtrl.current('jdk')" min="0" max="100" label="instCtrl.label('jdk')" product_desc="instCtrl.productDesc('jdk')" status="instCtrl.status('jdk')">
      </progress-bar>
    </div>
    <div>
      <progress-bar ng-show="instCtrl.show('jbds')" name="jbds" product_name="instCtrl.productName('jbds')" product_version="instCtrl.productVersion('jbds')" current="instCtrl.current('jbds')" min="0" max="100" label="instCtrl.label('jbds')" product_desc="instCtrl.productDesc('jbds')" status="instCtrl.status('jbds')">
      </progress-bar>
    </div>
  </div>
</main>

<div class="greyed-out-background" ng-show="instCtrl.failedDownloads.size > 0"></div>
<div class="close-modal" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" ng-show="instCtrl.failedDownloads.size > 0">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <span class="pficon pficon-close" ng-click="instCtrl.closeDownloadAgainDialog()"></span>
        </button>
        <h4 class="modal-title" id="myModalLabel">&nbsp;</h4>
      </div>
      <div class="modal-body">
        <span id="tcIcon" class="pficon pficon-error-circle-o"></span>
        <strong id="tcMessage" class="error">Oops. Something went wrong</strong>
        <p>The download failed, please check if you are on VPN.<br>Try again after you have connected to VPN successfully.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="instCtrl.downloadAgain()">Download Again</button>
      </div>
    </div>
  </div>
</div>
