<header>
  <breadcrumb></breadcrumb>
</header>

<main>
  <div class="col-sm-12 bottom-spacer">
    <div class="install-header">
      <span ng-class="{'fa fa-circle-o-notch fa-spin fa-3x fa-fw install-header-spinner': instCtrl.failedDownloads.size <= 0 ,
                      'fa fa-exclamation-triangle fa-3x fa-fw install-fail-icon': instCtrl.failedDownloads.size > 0 }"></span>      
      <div>
        <strong class="header">Downloading & Installing</strong>
        <p>We're fetching that content for you.</p>
      </div>
    </div>
    <div ng-repeat="progress in data">
      <progress-bar progress="progress"></progress-bar>
    </div>
    <div ng-show="instCtrl.platformDetect()" class="install-info">
      <i class="fa fa-info-circle" aria-hidden="true"></i>
      <span>&nbsp;MacOS may ask for your administrative password several times during installation.</span>
    </div>
  </div>
</main>

<div class="greyed-out-background" ng-show="instCtrl.failedDownloads.size > 0"></div>
<div class="close-modal" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" ng-show="instCtrl.failedDownloads.size > 0">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <span class="pficon pficon-close" ng-click="instCtrl.closeDownloadAgainDialog()"></span>
        </button>
        <h4 class="modal-title" id="myModalLabel">&nbsp;</h4>
      </div>
      <div class="modal-body">
        <span id="tcIcon" class="pficon pficon-error-circle-o"></span>
        <strong id="tcMessage" class="error">Oops. Something went wrong</strong>
        <p>The download failed. Please check if you have internet access,
          connected to VPN, have correct configuration for proxy server.
          Try to download again after problem is fixed.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="instCtrl.downloadAgain()">Download Again</button>
      </div>
    </div>
  </div>
</div>

<footer class="no-background-color">
  <div class="footer-border"></div>
  <button type="button" id="location-cancel-btn" class="go-btn footer-btns btn btn-primary btn-lg" form="installForm"
          ng-click="instCtrl.exit()">Cancel</button>
</footer>
