<header>
  <breadcrumb></breadcrumb>
  <img class="branding" src="images/logo_RHD_RGB_default.svg"/>
</header>

<main class="col-sm-12 bottom-spacer" >
  <form name="confirmForm" id="confirmForm" class="form-horizontal" ng-submit="confCtrl.install()" ng-class="{'is-disabled':confCtrl.isDisabled}">

    <p class="installation-note has-spinner" ng-show="confCtrl.numberOfExistingInstallations>0">
      <span class="pficon-info"></span>{{confCtrl.installedSearchNote}}
    </p>
    <p id="instructions" class="installation-note">Select the components to install</p>

    <div ng-repeat="item in checkboxModel">
      <component-panel item="item"></component-panel>

      <div class="message-container error-message" ng-show="item.keyName === 'virtualbox' && !confCtrl.isDisabled && !checkboxModel.hyperv.isConfigured() && checkboxModel.virtualbox.virtualizationEnabled === false && (checkboxModel.cdk.selectedOption == 'install' || checkboxModel.virtualbox.selectedOption == 'install') && platform === 'win32'">
        <span class="pficon pficon-error-circle-o"></span>
        <span>Please enable hardware virtualization support in BIOS for your platform.</span>
      </div>

      <div class="message-container error-message" ng-show="item.keyName === 'virtualbox' && !confCtrl.isDisabled && checkboxModel.virtualbox.virtualizationEnabled === false && (checkboxModel.cdk.selectedOption == 'install' || checkboxModel.virtualbox.selectedOption == 'install') && platform === 'darwin'">
        <span class="pficon pficon-error-circle-o"></span>
        <span>Please enable hardware virtualization for your platform.</span>
      </div>

      <div class="message-container warning-message" ng-show="item.keyName === 'virtualbox' && !confCtrl.isDisabled && !checkboxModel.hyperv.isConfigured() && checkboxModel.virtualbox.virtualizationEnabled === undefined && checkboxModel.cdk.selectedOption == 'install'">
        <span class="pficon pficon-warning-triangle-o"></span>
        <span>Please make sure hardware virtualization is enabled on your platform if supported.</span>
      </div>
    </div>
  </form>

  <div id="detection-info" class="centered has-spinner" ng-show="confCtrl.isDisabled" ng-class="{'active':confCtrl.isDisabled}">
    <span class="spinner spinner-lg spinner-bgcolour spinner-inline"><i class="icon-spin icon-refresh"></i></span>
    <p class="installation-note">
      <div class="detection-msg">
          <h2>{{confCtrl.installedSearchNote}}</h2>
      </div>
    </p>
  </div>
</main>

<footer id="footer-navigation" class="no-background-color">
  <div class="footer-border"></div>
  <button type="button" id="confirm-cancel-btn" class="cancel-btn footer-btns btn-plain btn-med-size btn btn-lg pull-left" form="confirmForm"
          ng-click="confCtrl.exit()">Cancel</button>
  <button type="button" id="confirm-back-btn" class="back-btn-spacer footer-btns btn-plain btn-med-size btn btn-lg" form="confirmForm"
          ng-disabled="confCtrl.isDisabled"
          ng-click="confCtrl.back()">Back</button>
  <button type="submit" id="confirm-install-btn" class="go-btn footer-btns btn btn-primary btn-lg" form="confirmForm"
          ng-disabled="!confCtrl.isConfigurationValid() || confCtrl.isDisabled" autofocus>Download & Install</button>
</footer>
