<main>
  <form>
    <h2 class="about-heading">Red Hat<sup><small class="icon">®</small></sup> Development Suite</h2>
    <span class="version-panel"><strong>Software Version &emsp;</strong>{{version}}</span>
    <section class="welcome-panel">
      <p>For additional information, see:</p>
      <a class="link" href="" ng-click="aboutCtrl.documentation()">Documentation</a><br/>
      <a class="link-release" href="" ng-click="aboutCtrl.release()">Release notes</a><br/>
      <a class="link-report" href="" ng-click="aboutCtrl.report()">Report issues</a><br/>
    </section>
    <span class="tradmark-panel">Trademark and Copyright information</span>
  </form>
</main>
