<header>
  <breadcrumb></breadcrumb>
  <img class="branding" src="images/logo_RHD_RGB_default.svg"/>
</header>

<main class="col-sm-12">
  <form name="locationForm" id="locationForm" class="form-horizontal" ng-submit="locCtrl.confirm()">
    <div id="location-form-container">
      <div id="location-form-instructions" class="location-form-elements">
        This installer will automatically detect the existing Red Hat products and tools that meet the requirements and
        <b>help you install the rest of the components</b>. Before it gets started, please browse to locate the installation
          folder or use the default location.
      </div>
      <div id="location-form-note" class="location-form-elements">
        Note: You can NOT choose the folder again once components start to get installed.
      </div>
      <div id="location-form-browse" class="has-feedback location-form-elements" ng-class="{'has-error has-feedback': confirmForm.folder.$invalid}">
        <div class="location-browse-container">
          <label for="location-browse-input-folder" class="location-browse-label">
            Select the installation folder
          </label>
          <input name="folder" type="text" id="location-browse-input-folder" class="location-browse-input"
                 ng-init="locCtrl.checkFolder()" ng-change="locCtrl.folderChanged()" ng-model="locCtrl.folder" path-validator/>
                 <button type="button" class="btn btn-primary location-browse-btn" ng-click="locCtrl.selectFolder()">Browse</button>
        </div>
        <span id="folderStatus" class="sr-only" ng-show="locationForm.folder.$invalid">(error)</span>
        <div ng-show="locationForm.folder.$error.required" class="help-block has-error">
          <span class="pficon-error-circle-o"></span>
          <strong>Please select an installation folder.</strong>
        </div>
        <div ng-show="locationForm.folder.$error.folderPath && !locationForm.folder.$error.required" class="help-block has-error">
          <span class="pficon-error-circle-o"></span>
          <strong>The selection is not a valid absolute path.</strong>
        </div>
        <div ng-show="!locationForm.folder.$invalid" class="form-group has-warning">
          <div ng-show="locCtrl.folderExists" class="help-block">
            <span class="pficon pficon-warning-triangle-o"></span>
            <strong>The selected folder already exists, some files might be overwritten.</strong>
          </div>
          <div ng-show="!locCtrl.folderExists" class="help-block">
            <span class="pficon pficon-info"></span>
            <strong>The selected folder will be created.</strong>
          </div>
        </div>
      </div>
    </div>
    <div id="location-form-btns" class="pull-right form-buttons">
      <button type="button" id="cancel-btn" class="btn-plain btn-spacer btn-med-size btn btn-lg pull-left" ng-click="locCtrl.exit()">Cancel</button>
      <button type="button" id="back-btn" class="btn-plain btn-spacer btn-med-size btn btn-lg" ng-click="locCtrl.back()">Back</button>
      <button type="submit" id="location-install-btn" ng-disabled="locationForm.folder.$invalid" class="btn btn-primary btn-lg btn-rightside">Continue</button>
    </div>
  </form>
</main>
