<header>
  <breadcrumb></breadcrumb>
  <img class="branding" src="images/logo_RHD_RGB_default.svg"/>
</header>

<main class="col-sm-12">
  <form name="locationForm" id="locationForm" class="form-horizontal" ng-submit="locCtrl.confirm()" ng-init="locCtrl.checkUserProfileLocation()">
    <div id="location-form-container">
      <p id="location-form-instructions" class="location-form-elements">
        This installer will automatically detect the existing Red Hat products and tools that meet the requirements and
        <b>help you install the rest of the components</b>. Before it gets started, please browse to locate the installation
          folder or use the default location.
      </p>
      <p id="location-form-note" class="location-form-elements">
        Note: You can NOT choose the folder again once components start to get installed.
      </p>
      <div id="location-form-browse" class="has-feedback location-form-elements" ng-class="{'has-error has-feedback': confirmForm.folder.$invalid}">
        <div class="location-browse-container">
          <label for="location-browse-input-folder" class="location-browse-label">
            Select the installation folder
          </label>
          <input name="folder" type="text" id="location-browse-input-folder" class="location-browse-input"
                 ng-init="locCtrl.checkFolder()" ng-change="locCtrl.folderChanged()" ng-model="locCtrl.folder" path-validator/>
          <button id="location-browse-btn" type="button" class="btn btn-primary location-browse-btn" ng-click="locCtrl.selectFolder()">Browse</button>
          <span id="folderStatus" class="sr-only" ng-show="locationForm.folder.$invalid">(error)</span>


          <div ng-show="!locationForm.folder.$invalid" class="has-warning">
            <div id="existingFolderStatus" ng-show="locCtrl.folderExists" class="help-block has-warning">
              <span class="pficon pficon-warning-triangle-o"></span>
              <strong>The selected folder already exists, some files might be overwritten.</strong>
            </div>
            <div id="createFolderStatus" ng-show="!locCtrl.folderExists" class="help-block">
              <span class="pficon pficon-info"></span>
              <strong>The selected folder will be created.</strong>
            </div>
          </div>
          <ng-messages for="locationForm.folder.$error">
            <ng-messages-include src="pages/location/messages.html"></ng-messages-include>
          </ng-messages>
          <div id="vagrantHomeStatus" ng-show="locCtrl.vagrantHomeHasSpace" class="help-block has-error">
            <span class="pficon pficon-error-circle-o"></span>
            <strong>
              The directory where vagrant is/will be installed (the Vagrant home directory)
              has a space(s) in it. On Windows, there is a bug in Ruby when compiling
              plugins into directories with spaces. Please set up a VAGRANT_HOME user environment
              variable pointing to a location with NO spaces and restart this installer.
            </strong>
          </div>
        </div>
      </div>
    </div>

  </form>
</main>

<footer class="no-background-color">
  <div class="footer-border"></div>
  <button type="button" id="location-cancel-btn" class="cancel-btn footer-btns btn-plain btn-med-size btn btn-lg pull-left" form="locationForm"
          ng-click="locCtrl.setCloseDialog()">Cancel</button>
  <button type="button" id="location-back-btn" class="back-btn footer-btns btn-plain btn-med-size btn btn-lg" form="locationForm"
          ng-click="locCtrl.back()">Back</button>
  <button type="submit" id="location-install-btn" class="go-btn footer-btns btn btn-primary btn-med-size btn-lg" form="locationForm"
          ng-disabled="locationForm.folder.$invalid || locCtrl.vagrantHomeHasSpace" autofocus>Next</button>
</footer>

<div class="greyed-out-background" ng-show="locCtrl.showCloseDialog"></div>
<div class="close-modal " id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" ng-show="locCtrl.showCloseDialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <span class="pficon pficon-close" ng-click="locCtrl.setCloseDialog()"></span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Confirm Close</h4>
      </div>
      <div class="modal-body centered">
        <p>Are you sure you want to close the installer?</p>
      </div>
      <div class="modal-footer centered">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="locCtrl.setCloseDialog()">No</button>
        <button type="button" class="btn btn-primary" ng-click="locCtrl.exit()">Yes</button>
      </div>
    </div>
  </div>
</div>
