<header>
  <div class="login-header">
    <img class="branding-logo" src="images/logo_RHD_RGB_default.svg"/>
    <span class="branding-name">Red Hat JBoss Developer Studio Platform Installer</span>
  </div>
</header>

<main>
  <div class="container">
    <div id="login-section" class="verticalLine">
      <form name="accountForm" id="accountForm" class="form-horizontal" ng-submit="acctCtrl.login()">
        <div class="login-form-input-container form-group has-feedback" ng-class="{'has-error has-feedback': (accountForm.$submitted || accountForm.username.$touched) && accountForm.username.$invalid}">
          <label for="username" class="login-form-label">Username</label>
          <input type="text" id="username" name="username" class="login-form-input form-control" ng-model="acctCtrl.username"  required aria-describedby="usernameStatus" autofocus/>
          <!--<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="(accountForm.$submitted || accountForm.username.$touched) && accountForm.username.$invalid"></span>-->
          <span id="usernameStatus" class="sr-only" ng-show="(accountForm.$submitted || accountForm.username.$touched) && accountForm.username.$invalid">(error)</span>
          <div ng-show="(accountForm.$submitted || accountForm.username.$touched) && accountForm.username.$error.required" class="align-to-input help-block has-error">Please enter a username.</div>
        </div>
        <div class="login-form-input-container form-group has-feedback" ng-class="{'has-error has-feedback': (accountForm.$submitted || accountForm.password.$touched) && accountForm.username.$invalid}">
          <label for="password" class="login-form-label">Password</label>
          <input type="password" id="password" name="password" class="login-form-input form-control" ng-model="acctCtrl.password" required aria-describedby="passwordStatus"/>
          <!--<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="(accountForm.$submitted || accountForm.password.$touched) && accountForm.password.$invalid"></span>-->
          <span id="passwordStatus" class="sr-only" ng-show="(accountForm.$submitted || accountForm.password.$touched) && accountForm.password.$invalid">(error)</span>
          <div ng-show="(accountForm.$submitted || accountForm.password.$touched) && accountForm.password.$error.required" class="align-to-input help-block has-error">Please enter a password.</div>
        </div>
        <div ng-show="accountForm.$submitted && (acctCtrl.authFailed || acctCtrl.tandcNotSigned)" class="form-group has-error pull-right">
          <div id="invalidLoginError" ng-show="accountForm.$submitted && acctCtrl.authFailed" class="help-block">
            <span id="invalidLoginIcon" class="pficon pficon-error-circle-o"></span>
            <strong id="invalidLoginMessage">Invalid account information, please try again.</strong>
          </div>
          <div id="tcError" ng-show="accountForm.$submitted && acctCtrl.tandcNotSigned" class="help-block">
            <span id="tcIcon" class="pficon pficon-error-circle-o"></span>
            <strong id="tcMessage">Terms and Conditions for CDK have not been signed.</strong>
          </div>
        </div>
        <div class="form-group pull-right form-buttons">
          <a id="registerLink" type="button" class="btn-style-link" ng-click="acctCtrl.createAccount()">Register</a>
          <button id="loginButton" type="submit" class="btn-med-size btn btn-primary btn-lg" ng-disabled="accountForm.$invalid">Log in</button>
        </div>
        <div class="pull-right">
          Forgot your <a id="usernameLink" href="" ng-click="acctCtrl.forgotPassword()">username or password</a>?
        </div>
      </form>
    </div>
    <div id="welcome-text">
      Welcome to Red Hat Developer Platform. In this new version of our product, there are new features such as the CDK and lastest JBDS. Try the product today by logging into your Red Hat account or create a new account.
    </div>
  </div>
</main>

<footer>
  <span>Version: {{acctCtrl.pdkVersion}}</span>
</footer>
