<breadcrumb></breadcrumb>
<main>
  <div class="col-sm-12 bottom-spacer" style="margin-top:20px;">
    <div class="container-fluid container-cards-pf">
      <div class="alert alert-success success-message col-sm-10">
        <span class="pficon pficon-ok"></span>
        <span id="install-alert" ng-show="startCtrl.devstudioInstall.installed || startCtrl.cdkInstall.installed">
          Great job!! All components installed. Click on <b>Get Started</b> to proceed.
        </span>
        <span id="install-alert" ng-hide="startCtrl.devstudioInstall.installed || startCtrl.cdkInstall.installed">
          Great job!! All components installed.
        </span>
      </div>
      <div>
        <button type="button" class="btn btn-default btn-close pull-right" id="exit-btn" ng-click="startCtrl.exit()">Close installer</button>
      </div>
      <get-started component="'devstudio'" start="startCtrl.startDevstudio()"></get-started>
      <get-started component="'cdk'" start="startCtrl.startCdk()"></get-started>
      <div class="row row-cards-pf" ng-show="startCtrl.fetchMiscComponents().length > 0">
        <div class="col-xs-12">
          <div class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select">
            <div class="card-pf-body" style="min-height: 100px; overflow: hidden;">
              <section class="product-header">
                <div class="row">
                  <div class="header-column">
                    <h2 ng-show="startCtrl.devstudioInstall.installed || startCtrl.cdkInstall.installed">
                      <span class="field-name-title">Miscellaneous Installed Components</span>
                    </h2>
                    <div ng-show="startCtrl.devstudioInstall.installed || startCtrl.cdkInstall.installed">
                      The list of other installed components
                    </div>
                    <h2 ng-hide="startCtrl.devstudioInstall.installed || startCtrl.cdkInstall.installed">
                      <span class="field-name-title">Installed Components</span>
                    </h2>
                    <div ng-hide="startCtrl.devstudioInstall.installed || startCtrl.cdkInstall.installed">
                      The list of installed components
                    </div>
                  </div>
                </div>
              </section>
              <div class="card-pf-top-element">
                <div class="col-sm-8" style="margin-top: 2%">
                  <ul style="margin-left: -50px;list-style: none;">
                    <li ng-repeat="dependency in startCtrl.fetchMiscComponents()" style="margin: 6px">
                      <i class="pficon-applications"></i>
                      <span>{{dependency.productName}}&nbsp;|</span>
                      <span class="product-info">{{dependency.version}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
