<header>
  <breadcrumb></breadcrumb>
  <img class="branding" src="images/logo_RHD_RGB_default.svg"/>
</header>

<main class="">
  <div class="middle-high-pos text-center">
    <div class="text-padding">Everything's installed and you're good to go!</div>
    <div class="text-padding">What’s next? <a href="" ng-click="startCtrl.learnCDK()">Learn how to create your first CDK project.</a></div>
  </div>
  <form id="startForm" role="form" class="text-center" ng-submit="startCtrl.start()">
    <div ng-hide="startCtrl.jbdsInstall.isSkipped()">
      <button type="submit" id="start-submit" class="btn btn-primary">Open Red Hat Developer Studio</button>
    </div>
    <div>
      <button type="button" id="exit-btn" class="btn-plain btn btn-lg" ng-click="startCtrl.exit()">Close the installer</button>
    </div>
  </form>
</main>
