<breadcrumb></breadcrumb>
<div class="bottom-spacer">
  <div ng-class="{'is-disabled':selectCtrl.isDisabled}" class="selection-container has-spinner">
    <!-- <div class="selection-info">
      <span class="pficon pficon-info" ng-show="selectCtrl.numberOfExistingInstallations>0"></span>
      <strong>
        <span ng-show="selectCtrl.numberOfExistingInstallations>0">&nbsp;{{selectCtrl.installedSearchNote}}&nbsp;</span>
        <span id="instructions">{{selectCtrl.installInstructions}}</span>
      </strong>
      <span class="btn btn-default btn-action" ng-click="selectCtrl.clearAll()" ng-disabled="!selectCtrl.isAtLeastOneSelected()" data-toggle="tooltip" data-placement="bottom" title="Clear all selected components">Clear all</span>
      <span class="btn btn-default btn-action" ng-click="selectCtrl.selectAll()" data-toggle="tooltip" data-placement="bottom" title="Select all components available">Select all</span>
    </div> -->
  <!--</div> -->
  <!-- <form name="selectionForm" id="selectionForm" class="form-horizontal form-padding" ng-submit="selectCtrl.install()" ng-class="{'is-disabled':selectCtrl.isDisabled}">
    <div ng-repeat="item in checkboxModel" class="panel-group-items">
      <component-panel item="item"></component-panel>
    </div>
  </form> -->

    <div id="channels" style="margin: 30px auto;">
      <div class="row">
          <div class="col-sm-4">
              <ul class="nav nav-tabs nav-stacked nav-pills" role="tablist">
                  <li ng-class="{'active': selectCtrl.channel_tab == $index+1}" ng-repeat="tab in selectCtrl.channelList"> 
                      <a class="btn-lg" ng-click="selectCtrl.changeTab($index+1)" href="">{{tab.name}}</a>
                  </li>
              </ul>
          </div>
          <div class="col-sm-8" style="padding-left: 0px;">
              <div class="tab-content">
                <form name="selectionForm" id="selectionForm" class="form-horizontal" ng-submit="selectCtrl.install()" ng-class="{'is-disabled':selectCtrl.isDisabled}">
                  <div ng-repeat="(key,item) in filterChannel(checkboxModel, selectCtrl.channel_tab)" class="panel-group-items">
                    <component-panel item="item"></component-panel>
                  </div>
                </form>
            </div>
          </div>
      </div>
    </div>

  <div id="detection-info" class="centered has-spinner" ng-show="selectCtrl.isDisabled" ng-class="{'active':selectCtrl.isDisabled}">
    <div class="spinner spinner-lg spinner-bgcolour"></div>
    <div class="detection-msg">
      <h3>{{selectCtrl.installedSearchNote}}</h3>
    </div>
  </div>
</div>

<footer id="footer-navigation" class="no-background-color">
  <div class="footer-border"></div>
  <button type="button" id="selection-cancel-btn" class="cancel-btn footer-btns btn btn-default btn-lg pull-left" form="selectionForm"
          ng-click="selectCtrl.exit()">Cancel</button>
  <button type="button" id="selection-back-btn" class=" back-btn footer-btns btn btn-default btn-lg" form="selectionForm"
          ng-disabled="selectCtrl.isDisabled"
          ng-click="selectCtrl.back()">Back</button>
  <button type="submit" id="selection-install-btn" class="go-btn footer-btns btn btn-primary btn-lg" form="selectionForm"
          ng-disabled="!selectCtrl.isConfigurationValid() || selectCtrl.isDisabled" autofocus
          ng-click="selectCtrl.next()">Next</button>
</footer>
